@import 'bootstrap/dist/css/bootstrap';
.nav-link{
    color:white !important;
}
.navbar{
    background-color:black !important ;
}
.jumbotron  {
    background-image:asset-url('patrick-fore-0gkw_9fy0eQ-unsplash.jpg');
    background-size:cover;
    background-position:center center;
    height:430px;
}